{{ template "partials/page.header.html" }}

<div class="main-content container">


    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Sie sind ein ...
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <span class="fa fa-bicycle fa-3x"></span>
            <h4 class="heading-sm"><div class="center-block">Unternehmen</div></h4>
            <p>
                Als Startup oder bei der Erschliessung eines neuen Geschäftsfeldes haben Sie eine Idee entwickelt und
                suchen nach einem verlässlichen Partner, der Ihnen in allen Belangen der Softwareerstellung helfen kann.
            </p>
        </div>
        <div class="col-md-4">
            <span class="fa fa-motorcycle fa-3x"></span>
            <h4 class="heading-sm">mittelständisches Unternehmen</h4>
            <p>
                Sie sind eine mittelgrosse Firma und haben eventuell ein Softwareentwicklungs-Team. Sie suchen
                nach jemanden der temporär Ihr Team verstärkt oder wollen in einem Bereich Know How aufbauen.
            </p>
        </div>
        <div class="col-md-4">
            <span class="fa fa-truck fa-3x"></span>
            <h4 class="heading-sm">Grossunternehmen</h4>
            <p>
                Sie sind ein Unternehmen mit einer IT-Abteilung und wollen sich verbessern.
                Schnellere Releasezyklen oder Qualitätsverbesserungen sind zum Beispiel ein Thema und Sie suchen einen Coach.
            </p>
        </div>
    </div>

    <div class="col-xs-12" style="height:50px;"></div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">
                 Was ich anbieten kann ...
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h5 class="heading-sm">Web und Mobile</h5>
            <p>
                Ich baue Applikationen und Services für das Web und Mobile. (Single Page Applikationen, Responsive Design, HTML, Javascript, Java)
            </p>
        </div>
        <div class="col-md-4">
            <h5 class="heading-sm">Integration</h5>
            <p>
                Ich integriere Systeme und führen Daten aus unterschiedlichen Anwendungen zusammen. (REST, Microservices, Datenbanken, Java)
            </p>
        </div>
        <div class="col-md-4">
            <h5 class="heading-sm">Continuous Delivery</h5>
            <p>
                Die Software entwickle ich so, dass sie jederzeit ausgeliefert werden kann - auch mehrmals am Tag. (Testing,
                Build Automatisierung, Continuous Integration/Delivery, Gradle, Maven)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h5 class="heading-sm">Desktop</h5>
            <p>
                Ich stelle Desktopapplikationen her. (Eclipse RCP)
            </p>
        </div>
        <div class="col-md-4">
            <h5 class="heading-sm">Agile / Lean</h5>
            <p>
                Ich arbeite kundenorientiert und nutzen dazu adaptive Vorgehensweisen. (Agile, Scrum, Kanban, Lean, Domain Driven Design)
            </p>
        </div>
        <div class="col-md-4">
            <h5 class="heading-sm">DevOps</h5>
            <p>
                Ich verbinde den Betrieb mit der Entwicklung. (Docker, Automatiertes Deployment, Monitoring, Saltstack, Ansible, Terraform)
            </p>
        </div>

    </div>
</div>


{{ template "partials/page.footer.html" }}
