{{ template "partials/page.header.html" }}

<div class="main-content container">


    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Sie ...
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <span class="fa fa-bicycle fa-3x"></span>
            <h4 class="heading-sm"><div class="center-block">starten</div></h4>
            <p>Als Startup oder bei der Erschliessung eines neuen Geschäftsfeldes haben Sie eine Idee entwickelt und
                suchen nach einem verlässlichen Partner, der Ihnen in allen Belangen der Softwareerstellung und dem
                Betrieb helfen kann.</p>
        </div>
        <div class="col-md-4">
            <span class="fa fa-motorcycle fa-3x"></span>
            <h4 class="heading-sm">wachsen</h4>
            <p>Sie sind ein mittelgrosses Unternehmen und haben eventuell ein Softwareentwicklungs-Team. Sie suchen
                nach jemanden der Sie unterstützen kann.</p>
        </div>
        <div class="col-md-4">
            <span class="fa fa-truck fa-3x"></span>
            <h4 class="heading-sm">sind etabliert</h4>
            <p>Sie sind ein grosses Unternehmen mit einer IT-Abteilung und wollen sich verbessern.
                Schnellere Releasezyklen oder Qualitätsverbesserungen sind ein Thema.</p>
        </div>
    </div>

    <div class="col-xs-12" style="height:50px;"></div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">
                Wir ...
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h5 class="heading-sm">Web</h5>
            <p>Wir bauen Applikationen und Services für das Web.</p>
        </div>
        <div class="col-md-4">
            <h5 class="heading-sm">Integration</h5>
            <p>Wir integrieren Systeme und führen Daten aus unterschiedlichen Anwendungen zusammen.</p>
        </div>
        <div class="col-md-4">
            <h5 class="heading-sm">Continuous Delivery</h5>
            <p>Wir entwickeln die Software so, dass sie jederzeit ausgeliefert werden kann - auch mehrmals am Tag.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h5 class="heading-sm">Desktop</h5>
            <p>Wir stellen Desktopapplikationen her.</p>
        </div>
        <div class="col-md-4">
            <h5 class="heading-sm">Agile / Lean</h5>
            <p>Wir arbeiten Kundenorientiert und nutzen dazu adaptive Vorgehensweisen.</p>
        </div>
        <div class="col-md-4">
            <h5 class="heading-sm">DevOps</h5>
            <p>Wir verbinden den Betrieb mit der Entwicklung.</p>
        </div>

    </div>
</div>


{{ template "partials/page.footer.html" }}
