<head lang="de">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <title>{{ .Title }} Nautsch GmbH</title>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/paper/bootstrap.min.css" rel="stylesheet">

    <link href="/css/nautsch.css" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.png" type="image/png" />
    <link rel="icon" href="favicon.png" type="image/png" />

</head>