{{ template "partials/page.header.html" }}

<div class="container">

    <div class="starter-template">
        <h4 class="heading-sm">Softwareentwicklung</h4>

        <p>
            Mit 20 Jahren Erfahrung in der Softwareentwicklung - vom Startup bis zum Grossunternehmen - kann ich Ihnen helfen Software zu entwickeln.
            Wenn Sie einen Ansprechpartner suchen, der Sie von einer Idee bis zum Betrieb zu begleitet, oder um ein bestehendes System weiterzuentwickeln,
            stehe ich sehr gern zur Verfügung. Mein Einsatzspektrum ist sehr breit. Unter Anderem gehören Analyse, Programmierung, Design,
            Architektur, Coaching und Projektleitung dazu. Mein technischer Schwerpunkt liegt im Bereich Java, Continuous Delivery und Docker.
        </p>


        <h4 class="heading-sm">Beratung</h4>
        <p>
            Zu Themen wie Continuous Delivery, DevOps, Test Driven Design (TDD), Domain Driven Design (DDD), Agile, Lean, Build Automatisierung oder
            Microservices berate ich Sie gern. Ihre fachliche, organisatorische und technische Situation steht dabei im Zentrum und eine Beratung von mir
            wird sich immer an dieser ausrichten. Darum bleibe ich auch nicht bei konzeptionellen Arbeiten stehen,
            sondern arbeite immer hands-on an der Umsetzung mit.
        </p>

        <h4 class="heading-sm">Teilen</h4>
        <p>
            Mein Wissen und Können gebe ich gern weiter. Ich engagiere mich als Vorstandsvorsitzender der
            <a href="http://www.jug.ch/">Java User Group Switzerland</a> und bin Mitorganisator des
            <a href="http://socrates-day.ch/">SoCraTes Day Switzerland</a>.
        </p>
    </div>

</div><!-- /.container -->

{{ template "partials/page.footer.html" }}