{{ template "partials/page.header.html" }}

<div class="container">

    <div class="starter-template">
        <h4 class="heading-sm">Softwareentwicklung</h4>
        <p>Sie haben eine Idee. Wir helfen das sie Wirklichkeit wird.</p>


        <h4 class="heading-sm">Beratung</h4>
        <p>Sie wollen Ihre Softwareentwicklung verbessern, schneller liefern können, die Qualität Ihrer Software verbessern oder ein dynamisches Team aufbauen. Wir
            stehen mit Rat und Tat zur Seite.</p>

        <h4 class="heading-sm">Teilen</h4>
        <p>
            Unser Wissen und Können geben wir gern weiter. Wir engagieren uns in der
            <a href="http://www.jug.ch/">Java User Group Switzerland</a> und sind Mitorganisator des
            <a href="http://socrates-day.ch/">SoCraTes Day Switzerland</a>.
        </p>
    </div>

</div><!-- /.container -->

{{ template "partials/page.footer.html" }}