{{ template "partials/page.header.html" }}

  <div class="main-content container">
    <h3 class="heading-sm">{{ .Title }}</h3>

    <address>
      <strong>Nautsch GmbH</strong><br>
      Im oberen Boden 1<br>
      Zürich, CH-8049<br>
      Schweiz<br>
    </address>

    <address>
      <strong>Telefon</strong><br>
      +41 79 415 18 40<br>
    </address>

    <address>
      <strong>Email</strong><br>
      <a href="mailto:info@nautsch.com">info@nautsch.com</a>
    </address>

    <address>
      <strong>Karte</strong><br>

      <div class="Flexible-container">
        <iframe
                width="600"
                height="450"
                frameborder="0"
                style="border:0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDJoGjmaawxSqD4otnn2tHQ-WeDM5-nRHg&q=Im+oberen+Boden+1,+8049+Zürich">
        </iframe>
      </div>
    </address>
  </div>

  {{ template "partials/page.footer.html" }}
